<h2>Thanks For Joining e-Tech! Your Details...</h2>
<b>Name:</b>  {{name}}<br>
<b>House/Flat no.</b>  {{house_no}}<br>
<b>Street:</b>  {{street}}<br>
<b>City:</b>  {{city}}<br>
<b>Postcode:</b>  {{postcode}}<br>
<b>Gender:</b>  {{gender}}<br>
<b>Date Of Birth:</b>  {{dob}}<br>
<b>Email Address:</b>  {{emailadd}}<br>
<b>Username:</b>  {{username}}<br>
<br>
<a href = "/">Menu</a>
</div>